div.cat
	div.cat__buttons
		a(href="#") Все
		a(href="#") Решения для рекламы
		a(href="#") Развлечения
		a(href="#") Digital презентация
		a(href="#") hi-end устройства
		a(href="#") fx оборудование
		a(href="#") аренда
		a(href="#") новинки

	div.cat__row
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name аренда vr
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name виртуальное граффити
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name event ball
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name танцующие головы
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name прозрачный экран
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name интерактивный стол
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name интерактивная рогатка
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name аренда VR
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name интерактивный пол
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name event ball
		a(href="#" style="background-image: url(assets/images/static/cat-1.jpg)").cat__card
			div.cat__name аренда проекторов