div.clients
	div.clients__topline
		div.container
			div.clients__title
				h2 Наши клиенты
	div.clients__track
		a(href="#").clients__item
			div(style="background-image: url(assets/images/content/client1.jpg)").clients__img
				div(style="background-image: url(assets/images/content/client1.jpg)").clients__blured
			div.clients__logo
				img(src="assets/images/static/client-logo1.png", alt="")
		a(href="#").clients__item
			div(style="background-image: url(assets/images/content/client1.jpg)").clients__img
				div(style="background-image: url(assets/images/content/client1.jpg)").clients__blured
			div.clients__logo
				img(src="assets/images/static/client-logo1.png", alt="")
		a(href="#").clients__item
			div(style="background-image: url(assets/images/content/client1.jpg)").clients__img
				div(style="background-image: url(assets/images/content/client1.jpg)").clients__blured
			div.clients__logo
				img(src="assets/images/static/client-logo1.png", alt="")
		
