div.footer__inner
	footer.footer
		div.footer__wrapper
			div.container
				div.footer__top
					div.footer__content
						div.footer__item
							div.footer__title Центральный офис и Showroom:
							div.footer__text Москва, Милютинский переулок дом 3
						div.footer__item
							div.footer__title Телефоны
							a(href="tel:8(800)123-45-67").footer__text +7 (495) 662 49 18

					div.footer__callback
						div.footer__c-title Бесплатный номер для РФ
						a(href="tel:8(800)123-45-67").footer__phone +7 (800) 333 51 27
						a(href="#").footer__btn оставить заявку
		div.container
			div.footer__line
				a(href="#").footer__logo
					img(src="assets/images/static/main-logo.png", alt="")
