header.header
	div.container
		div.header__topline
			a(href="#").header__logo
				img(src="assets/images/static/main-logo.png", alt="")
			div.header__title Аренда интерактивного оборудования по москве и МО
			div.header__phone
				div.header__subtitle Бесплатный номер в рф
				a(href="tel:8(800)123-45-67").header__phone-large 8(800)123-45-67
			div.header__callback
				a(href="tel:8(800)123-45-67").callback__title 8(495)123-45-67
				a(href="#").button.callback__btn Заказать звонок
	nav.header__nav
		div.container
			ul
				li
					a(href="#").active О компании
				li
					a(href="#") Оборудование
				li
					a(href="#") Новости
				li
					a(href="#") Клиенты
				li
					a(href="#") Контакты
				li
					a(href="#") Блог

