div.main-top
	div.container
		div.white-overlay
		div.main-slider
			div.m-slider__item
				div.m-slider__content
					div.m-slider__inner
						div.m-slider__title Event technologies
						div.m-slider__text
							p Наша компания рада приветствовать вас на страницах своего сайта. Мы предлагаем проекторы и интерактивное рекламное оборудование в аренду в Москве и регионах.
							p Аренда оборудования для выставок лучший вариант при временной необходимости пользования, к тому же не возникает вопроса о его хранении.
					a(href="#").button.m-slider__btn Подробнее
				div.m-slider__img
					img(src="assets/images/content/Virtual-Reality.png", alt="")
			div.m-slider__item
				div.m-slider__content
					div.m-slider__inner
						div.m-slider__title Решения для успешного бизнеса
						div.m-slider__text
							p Мы создаем отличные предложения - аренда оборудования для мероприятий. Огромный выбор аксессуаров для создания неповторимой атмосферы - это и интерактивные панели, они максимально украсят представление проекта.
					a(href="#").button.m-slider__btn Подробнее
				div.m-slider__img
					img(src="assets/images/content/Panel-1.png", alt="")

			div.m-slider__item
				div.m-slider__content
					div.m-slider__inner
						div.m-slider__title Аренда проекторов
						div.m-slider__text
							p Сегодня существует масса возможностей, благодаря которым каждая компания может заполучить новых клиентов. Что для этого нужно? Совсем немного!  Проекторы – вот верное решение в погоне за своим потребителем!
					a(href="#").button.m-slider__btn Подробнее
				div.m-slider__img
					img(src="assets/images/content/proj1.png", alt="")