div.container
	div.news
		div.news__inner
			div.news__date
				div.news__date-title 03
				div.news__date-text марта 2017

			div.news__content
				div.news__title Event Technologies для компании «SIEMENS»

				p 16 июня в Санкт-Петербурге, параллельно с Экономическим форумом, состоялось долгожданное открытие депо «Металлострой 2″. Кластер передовых технологий по обслуживанию высокоскоростных поездов «Сапсан» и «Ласточка». Компания Event Technologies к данному открытию подготовила соответствующее, технологичное решение — презентационный ролик на очки вир...реальности в формате 360. Гостям предлагалось совершить путешествие в прошлое, чтобы воочию увидеть все моменты строительства масштабного депо, от закладки фундамента до наполнения депо передовым оборудованием. Пролеты над строительной ...  площадкой,//создание скелета здания, электрификация здания — все эти моменты были отображены в анимационном ролике, созданным Event Technologies. Реализация происходила на очках виртуальной реальности VR Gear в количестве 50 штук.

		div.news__buttons
			a(href="#").button Подробнее
			a(href="#").news__btn Все новости
