div.offer-inner
	div.container
		div.offer
			div.offer__content
				h2 Комплексное предложение аренды
				p Цена на аренду нашего оборудование включает в себя полный спектр обслуживания: <br>оперативная доставка, качественный монтаж и техническое сопровождение.
			div.offer__contacts
				a(href="#").button.offer__btn аренда в 1 клик
				div.offer__note или по телефону
				a(href="#").offer__phone 8(800)333-51-27