extends layout.jade

block title
	title EVENT Tech

block content
	include blocks/header.jade
	div.about
		div.about__top
			div.container
				div.about__content
					h1.about__title EVENT TECHNOLOGIES

					div.about__text
						p Наша компания рада приветствовать вас на страницах своего сайта. Здесь вы найдёте исчерпывающую информацию о деятельности, которую мы осуществляем, и технике, которую мы предоставляем в аренду – интерактивном рекламном оборудовании и видеооборудовании.
				div.stats
					div.stats_item
						div.stats__value 8
						div.stats__text лет успешной работы на рынке
					div.stats_item
						div.stats__value 207
						div.stats__text довольных заказчиков
					div.stats_item
						div.stats__value 649
						div.stats__text инсталяций оборудования

		div.promo
			div.container
				p Наука и техника в современное время дают масштабный выбор из устройств и аппаратуры, которые с каждым годом становятся все более совершенными и непрерывно удивляют гениальной функциональностью. Аренда интерактивного оборудования - выбор лучших! Совет прибегнуть к такой услуге основан на том, что технологии развиваются быстро и фактически нет смысла приобретать модель, которая через месяц станет не актуальной. 
				p Мы создаем отличные предложения - аренда оборудования для мероприятий. Огромный выбор аксессуаров для создания неповторимой атмосферы - это и интерактивные панели, они максимально украситят представление проекта. Аренда оборудования для выставок лучший вариант при временной необходимости пользования, к тому же не возникает вопроса о его хранении.

				div.promo__row
					div.promo__item
						div.promo__img
							img(src="", alt="")
						div.promo__text Яркая и креативная реализация ваших идей
					div.promo__item
						div.promo__img
							img(src="", alt="")
						div.promo__text Приятные и запоминающиеся впечатления у ваших клиентов
					div.promo__item
						div.promo__img
							img(src="", alt="")
						div.promo__text Повышение эффективности рекламной кампании

		div.container
			div.c-top
				h2 Аренда оборудования для презентаций
				div.c-top__text
					p Закономерен вопрос: почему аренду оборудования для презентаций стоит оформить именно в нашей компании? Причина – в многочисленных преимуществах, которые доступны нашим клиентам: 
			div.stars
				div.stars__item
					div.stars__title мы - лидер!
					div.stars__text
						p Event Technologies – лидер в области аренды интерактивного оборудования для выставок и мероприятий на рынке России и СНГ.

	
	include blocks/clients.jade

	include blocks/footer.jade
