extends layout.jade

block title
	title EVENT Tech

block content
	div.e-tech
		include blocks/header.jade

		include blocks/main-slider.jade

		include blocks/offer.jade

		div.container
			include blocks/cat.jade

		div.news-inner
			div.container
				h2 Последние новости и события

		include blocks/news.jade

		include blocks/clients.jade

		include blocks/footer.jade
		
