extends layout.jade

block title
	title EVENT Tech

block content
	div.item
		div.item__top
			div.container
				h1 Интерактивный стол

				p Цена на аренду нашего оборудование включает в себя полный спектр обслуживания: оперативная доставка, качественный монтаж и техническое сопровождение.

				a(href="#").button.button--rent Арендовать
				p.item__small *агенствам скидка
			
				div.item__note
					div.note__text
						p Интерактивный стол – это кладезь возможностей. Его «способности» уже оценили в проектных и конструкторских бюро, университетах, школах и детсадах, салонах недвижимости и мебельных магазинах, рекламных агентствах и развлекательных центрах, на различных мероприятиях и выставках. 
						p Легко касаясь пальцами поверхности интерактивного стола – причём в процессе принимают участие несколько человек – можно вести деловые переговоры, знакомиться с информационным и рекламным видеорядом, планировать и моделировать решение креативных задач.
					div.note__img

		div.container
			div.item__title Почему именно <span>event Technologies?</span>
			div.features
				div.feature
					div.feature__img
						img(src="", alt="")
					div.feature__content
						div.feature__title Мультитач
						div.feature__text
							p Огромная, 42-дюймовая поверхность сенсорного стола поддерживает до двенадцати одновременных касаний, и каждый из пользователей получит именно то, что он хочет. Причём можно не только искать и получать необходимую информацию, но и создавать и корректировать её.

		div.present
			div.container
				div.present__inner
					div.present__title Презентуйте ваш бизнес <span>уже сейчас!</span>
					div.present__content
						div.present__text
							p Оставьте нам свои контактные данные и мы с вами свяжемся и подробнее расскажем о нашем инновационном оборудовании
						div.present__btn
							a(href="#").button Перезвоните мне
				div.present__slider
					div.a-slider
						div.a-slide
							div.a-slider__img
							div.a-slider__text
								p Мы предлагаем аренду интерактивного стола организаторам научных симпозиумов и бизнес-конференций, музейных выставок и презентаций новых товаров. Его охотно используют на свадьбах, юбилеях, корпоративах для развлечения гостей (различные игры, отправка фото на почту).
		div.container
			div.stage
				div.stage__items
					ul
						li
							a(href="") Обращение заказчика в нашу фирму
						li
							a(href="") Выезд специалиста для предварительного ознакомления с местом проведения мероприятия
						li
							a(href="") Расчет стоимости комплекса работ и составление договора
						li
							a(href="") Подготовка контента в соответствии с Вашими задачами
						li
							a(href="") Выезд на монтажные работы для установки оборудования
						li
							a(href="") Сопровождение и техническая поддержка специалиста на мероприятии
						li
							a(href="") Демонтаж и вывоз оборудования по окончании мероприятия
				div.stage__content
					<iframe src="https://player.vimeo.com/video/153931072?color=ffffff&title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><p><a href="https://vimeo.com/153931072">Nike Football / Brand Film (Dir. Cut)</a> from <a href="https://vimeo.com/tendril">Tendril</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
					div.stage__text
						p Мы готовы разработать индивидуальный контент для каждого кто возьмет в аренду интерактивный стол. Возможно, это будет серия таблиц или диаграмм, фотоснимков, слайд-шоу, видеоролики, видеофильм или игры. 
						p Для вас нет никаких препятствий для того, чтобы установить нужные приложения. Приветствуем креатив, рады пойти вам навстречу в реализации ваших творческих предложений!
					div.stage__button
						a(href="#").button Заказать расчет

		blockquote «Event Technologies» предлагает только один вариант для аренды интерактивного стола. На продажу можем скомплектовать различные варианты моделей интерактивного стола.

		include blocks/clients.jade

		include blocks/footer.jade




		
