body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	position: relative;
	max-width: 980px;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 0 auto; 
}

p {
	font-size: 14px;
	line-height: 2;
}

a {
	outline: none;
	text-decoration: none;
}

.button {
	border-radius: 30px;
	background-color: #05abb6;
	padding: 7px 22px;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 700;
}